- title "Comments"

- for comment in @comments
	%p
		= comment.name
	%p
		= comment.content
	%p
		= image_tag comment.photo.url(:thumb)
	%p
		= link_to 'Show', comment
		= link_to 'Edit', edit_comment_path(comment)
		= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete

%p= link_to "New Comment", new_comment_path
