- title "Comment"

%p
	= image_tag @comment.photo.url(:large)

%p
	= @comment.caption
%p
	#{@comment.name}
	%br/
	posted
	= time_ago_in_words @comment.created_at
	ago
	
%p
	= link_to "Edit", edit_comment_path(@comment)
	|
	= link_to "Destroy", @comment, :confirm => 'Are you sure?', :method => :delete
	|
	= link_to "View All", comments_path
